body {
    font-family: 'Open Sans', sans-serif; 
    
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.primary-bg {
    background-color: #bc0a6f;
}

a.nav-link:link { color: #fff; text-decoration:none; }
a.nav-link:visited { color: #fff; text-decoration:none; }
a.nav-link:hover { color: #ffcce9; text-decoration:none;   border-bottom: 1px solid #ffcce9; }
a.nav-link:active { color: #ffcce9; text-decoration:none; }

.logo {
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-family: 'Kalam', cursive;
}

.logo h1 {
    font-family: 'Kalam', cursive;
    font-size: 40px;
    margin-bottom: 15px;
}

nav {
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding-bottom: 30px;
}


.nav-link {
    font-family: 'Open Sans', sans-serif;
    padding: 7px;
}


.header {
    background: transparent;
    color: white;
    height: 500px;
    display: flex;

}

.parallax-window {
    background: transparent;
    min-height: 500px;
}

.slogan {
    margin: auto;
    text-align: right;
}

section {
    display: flex;
    justify-content: center;
    background-color: #ffe3ec; 
    padding-bottom: 40px;
}

article {
    display: flex;
    justify-content: center;
    
}

.container {
    display: flex;
    justify-content: center;
    width: 950px;
}

.primary-panel {
    background-color: #f364a2;
    justify-content: space-evenly;
    padding: 20px;
    margin: -50px 30px 0px 0px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.primary-panel p {
    padding-bottom: 20px;
}

.white-button {
    background-color: white;
    padding: 7px 20px 7px 20px;
    border-radius: 25px;
}

a.white-button:link { color: #bc0a6f; text-decoration:none; }
a.white-button:visited { color: #bc0a6f; text-decoration:none; }
a.white-button:hover { color: #870557; text-decoration:none; background-color: #ffe3ec; }
a.white-button:active { color: #bc0a6f; text-decoration:none; }

.about {
    padding: 80px 100px 100px 100px;
    text-align: center;
    width: 700px;
    color: #333;
}

a:link {
  color: #bc0a6f;
  text-decoration: none;
}

a:visited {
    color: #bc0a6f;
}

a:hover {
    color: #e8368f;
}

a:active {
    color: #bc0a6f;
}

.social-icon {
    margin: 10px;
    font-size: 30px;
}

a.white-link:link {
  color: white;
  text-decoration: none;  
}

a.white-link:visited {
    color: white;
}

a.white-link:hover {
    color: #ffcce9;
}

a.white-link:active {
    color: white;
}

footer{ 
  /*  justify-content: center;*/
    background-color: #bc0a6f;
    color: white;
    padding: 30px;
}

.center{ 
    display: flex;
}

.footer-content {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.white-text {
    color: white;
}