body {
    font-family: 'Open Sans', sans-serif; 
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.logo {
    margin: auto;
    max-width: 100%;
    text-align: center;
}

nav {
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding-bottom: 20px;
}


.nav-link {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}


.header {
    background: transparent;
    color: white;
    height: 500px;
    display: flex;

}

.parallax-window {
    background: transparent;
    min-height: 500px;
}

.slogan {
    margin: auto;
    text-align: right;
}

section {
    display: flex;
    justify-content: center;
    
}

article {
    display: flex;
    justify-content: center;
    
}

.container {
    display: flex;
    justify-content: center;
    width: 950px;
}

.primary-panel {
    background-color: #ad0966;
    justify-content: space-evenly;
    padding: 20px;
    margin: -50px 30px 0px 0px;
    text-align: center;
    font-size: 14px;
    color: #ffe3ec;
}

.white-button {
    background-color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
}

.about {
    padding: 100px;
    text-align: center;
    width: 700px;
}

a:link {
  color: #ad0966;
  text-decoration: none;
}

a:visited {
    color: #ad0966;
}

a:hover {
    color: #d9278c;
}

a:active {
    color: #ad0966;
}

.footer-link {
    margin: 10px;
    font-size: 30px;
}

a.footer-link:link {
  color: white;
  text-decoration: none;  
}

a.footer-link:visited {
    color: #ffcce9;
}

a.footer-link:hover {
    color: #ffcce9;
}

a.footer-link:active {
    color: white;
}

footer{ 
  /*  justify-content: center;*/
    background-color:#ad0966 ;
    color: white;
    padding: 30px;
}

.center{ 
    display: flex;
}

.footer-content {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.white-text {
    color: white;
}